.container {
    
}
.container h2 {
    margin : 30px 0;
}
.container h3 {
    margin : 30px 0;
}

.container button {
    padding : 10px 20px;
}

.container input {
    padding : 10px 20px;
    margin-left : 20px;
}


.container input[type="file"] {
    /* visibility: hidden; */
}