.container {
 
    padding: 60px 0 100px 0;
    background-color: blue;
    height: 100vh;

}

.header h3{
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
.affiliate {
    margin: auto auto;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(20px 10px 4px #000); */
}


@media screen and (min-width: 1024px) {
    .container {
        justify-content: space-between;
     
    }

    .header h3{
        font-size: 48px;
        line-height: 52px;
    }
}