.container {
    padding: 0 10px;
    height : 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
}

.container a {
    text-decoration: underline;
    padding: 0 10px;
}